body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #0f172a;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

nav a {
  margin: 0 10px;
  color: #cbd5f5;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  min-height: 100vh;
  background: linear-gradient(135deg, #6366f1, #3b82f6);
}

/* LEFT */
.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 3rem;
}

.hero-left p {
  margin-top: 10px;
}

.hero-buttons button {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* FORM */
.form-card {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 16px;
  width: 350px;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.badge {
  background: #d1fae5;
  color: #16a34a;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.tabs {
  display: flex;
  margin: 15px 0;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #eee;
}

.tab.active {
  background: #3b82f6;
  color: white;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.main-btn {
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
}

.note {
  font-size: 12px;
  text-align: center;
}

/* SERVICES */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}
